* {
  box-sizing: border-box;
}

body,
div,
main,
header,
form,
section {
  margin: 0;
  padding: 0;
}

body {
  background: url(pirate-ship.jpg) no-repeat center center/cover;
}

body,
input,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

h1,
h2 {
  color: #fdf9f4;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #fbe3c3;
  padding: 5px 10px;
  border: 1px solid #27170a;
  box-shadow: 2px 2px #27170a;
}

button:hover {
  background-color: #f8d19f;
}

button.active {
  background-color: #d08626;
}

.board {
  width: 100%;
}

.add-score {
  width: 100%;
}

.board-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-details {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #27170a;
}

.board-details li {
  padding: 10px;
}

.board-details li:nth-child(even) {
  background-color: #fbe3c3;
}

.board-details li:nth-child(odd) {
  background-color: #f8d19f;
}

#score-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#score-form input {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #fef1e0;
  border: 1px solid #27170a;
}

.btn-submit {
  text-align: right;
  margin: 5px 0;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .board {
    padding: 0 5%;
    width: 500px;
    max-width: 50%;
  }

  .add-score {
    padding: 0 5%;
    width: 300px;
    max-width: 30%;
  }
}
